{% extends "consumer/base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Task List</h2>
            {% if tasks %}
                task_id | name | description | created_at <br/>
                {% for task in tasks %}
{#                    <a class="lead" href="{% url 'task_detail' task_id=task.id %}">{{ task.name }}</a> <br/>#}
                    {{task.id}}| {{ task.name }} | {{ task.description }} | {{ task.created_at |date:'Y-m-d H:i' }}<br/>
                {% endfor %}
            {% else  %}
                No tasks found
            {% endif %}

            </div>
        </div>
    </div>

{% endblock content %}

